/* get google font style */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal design */
*{
    padding:0px;
    margin:0px;
    font-family: "Fira Sans", serif;

}
body{
    background-color: #F5F5F5;
}

/* My display is 1366 px. so, the factor is 0.85 */
header{
    width:1088px;
    margin: auto;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding:20px 0; 
}
nav h2{
    font-weight: 800;
    font-size: 28px;
    color:#0E0E0E;
}
nav button{
    font-weight:600;
    font-size: 16px;
    color:#006A50; 
    border:1px solid #006A50;
    padding:13px 26px;
    border-radius: 7px;
    cursor: pointer;
}
/* ------------------ */
/*start banner section */
.banner{
    margin-top:12px;
    display: flex;
    width:1088px;
    margin: auto;
    background-color: #C6E4D6;
    border-radius: 20px;
    margin-bottom: 68px;
}
.banner .bann-left{
    width:550px;
    padding: 99px 51px ;
}
.bann-left p{
    font-weight: 500;
    font-size: 21px;
    color:rgba(14, 14, 14,50%);
    margin-bottom: 14px;
}
.bann-left h3{
    font-weight: 800;
    font-size: 48px;
    color:#0E0E0E;
    margin-bottom: 21px;
    line-height: auto;
}
.btn{
    font-weight: 600;
    font-size: 15px;
    color:#FFFFFF;
    padding:15px 29px;
    border:none;
    border-radius: 7px;
    background-color: #006A50;
}
.bann-right{
    width:600px;
}
.bann-right img{
    max-width:403px;
    height:340px;
    margin-top: 68px;
}

/* ------------------ */
/* pillar section */
/* ------------------ */
.pillar{
    width:1088px;
    margin: auto; 
    margin-bottom: 68px;
}
.pillar h3{
    font-weight: 800;
    font-size: 34px;
    color:#0E0E0E;
    margin-bottom: 27px;
}
.pillar-group{
    display: flex;
    gap: 21px;
}

.pillar-1{
    padding: 21px;
    background-color: white;
    border-radius: 14px;
    border: 1px solid rgba(14, 14, 14,0.15);
}
.pillar-1 img{
    margin-bottom: 21px;
}
.pillar-1 h4{
    font-weight: 800;
    font-size: 17px;
    color:#0E0E0E;
    margin-bottom: 10px;
}
.pillar-1 p{
    font-weight: 400;
    max-width:216px;
    font-size: 14px;
    color:#0E0E0E;
    line-height: 21px;
}
/* -------------
vision section */
/* ------------------ */
.vision{
    width:1088px;
    margin: auto; 
}
.vision h3{
    font-weight: 800;
    font-size: 34px;
    color:#0E0E0E;
    margin-bottom: 21px;
}
.vision p{
    font-weight: 400;
    font-size: 14px;
    color:#0E0E0E;
    margin-bottom: 27px;
    line-height: 21px;
}
.digit{
    display: flex;
    gap:21px;
    margin-bottom: 27px;
}
.digit .pillar-1{
    padding: 21px;
    background-color: white;
    border-radius: 14px;
    border: 1px solid rgba(14, 14, 14,0.15);
}
.digit .pillar-1 p{
    max-width: 305px;
}
.digit .pill-1{
    background-color: rgba(84, 144, 245,0.2);
}
.digit .pill-1 .btn{
    background-color: #5490F5;   
}
.digit .pill-2{
    background-color:#C6E4D6 ;
}
.digit .pill-2 .btn{
    background-color: #09A15C;   
}
.digit .pill-3{
    background-color: #F7EBCF;
}
.digit .pill-3 .btn{
    background-color: #FFC239;   
}
.quot{
    background: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 2% 7%;
    background-color: white;
    border-radius: 14px;
    padding: 41px 21px 21px 21px;
}
.quot .descri{
    font-weight: 400;
    font-size: 14px;
    color:rgba(14, 14, 14,0.8);
    margin-bottom: 10px;
    line-height: 21px;
}
.quot h5{
    font-weight: 600;
    font-size: 17px;
    color:rgba(14, 14, 14,0.8);
    line-height: 21px;
}
.quot .chief{
    font-weight: 400;
    font-size: 14px;
    color:rgba(14, 14, 14,0.6);
    line-height: 21px;
}
/* -------------
opinion section */
/* ------------------ */
.opinion{
    width:1088px;
    margin: auto; 
}
.opinion h2{
    font-weight: 800;
    font-size: 34px;
    color:#0E0E0E;
    margin-top:68px;
    margin-bottom: 21px;
}
.table-area{
    padding: 27px;

    background-color: white;
    border-radius: 14px;
}
table{
    width:1030px;
    border:1px  solid #F5F5F5;
    border-collapse: collapse;
    text-align: left;
}
table th,tr,td{
    border:1px solid rgba(0, 0, 0,0.1);
    padding:10px;
}
table th .ques{
    margin-right:640px;
    text-align: left;
   
}
table th .selec{
    margin-left:130px;
}
table th, table tr td form select{
    background-color: #C6E4D6;
    
}
table tr td{
    font-weight: 600;
    font-size: 14px;

}
table tr td form sleect option{
    font-weight: 800;
    font-size: 14px;

}
table tr td form select{
    border-radius: 5px;
    padding:5px;
}
table tr td form{
    text-align: center;  
}
/* -------------
recent section */
/* ------------------ */
.recent{ 
    width:1088px;
    margin: auto; 
    margin-top: 68px;
}
.recent h3{
    font-weight: 800;
    font-size: 34px;
    color:#0E0E0E;
    margin-bottom: 21px;
}
.recent .first-p{
    font-weight: 400;
    font-size: 14px;
    color:#0E0E0E;
    margin-bottom: 27px;
    line-height: 21px;
}
.satt-group{
    background-color: white;
}
.satt-1{
    display: flex;
}
.satt-1 .image{
    width:40%;
    padding:41px 41px 41px 27px;
}
.satt-1 .image img{
    /* max-width: 347px; */
   /* max-height: 260;   */
    border-radius:21px; 
}
.satt-1 .info{
    width:60%;
    padding-top:41px
}
.info{
    margin-right: 41px;
}
.info h4{
    font-weight: 800;
    font-size: 27px;
    color:#0E0E0E;
    margin-bottom: 10px;
}
.info .image-smal img{
    max-width: 114px;
    margin-bottom: 12px;
}
.info .smal{
    font-weight: 400;
    font-size: 14px;
    color:#0E0E0E;
    margin-bottom: 10px;
}
.info .smal span{
    margin-right:10px;
}
.info .desc{
    font-weight: 400;
    font-size: 14px;
    color:#0E0E0E;
    line-height: 21px;
    margin-bottom: 27px;
}